
.right_menu {
	margin: 0;
	list-style: none;
	float: right;
}

.right_menu li {
	float: left;
	padding: 15px 15px 15px 15px;
	line-height: 36px;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.gapp {
	width: 36px;
	height: 36px;
	position: relative;
}

.gapps {
	padding-left: 0;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #AAA;
}

.app1 {
	top: 0;
	left: 0;
}

.app2 {
	top: 0;
	left: 13px;
}

.app3 {
	top: 0;
	left: 26px;
}

.app4{
	top: 13px;
	left: 0;
}

.app5 {
	top: 13px;
	left: 13px;
}

.app6 {
	top: 13px;
	left: 26px;
}

.app7 {
	top: 26px;
	left: 0;
}

.app8 {
	top: 26px;
	left: 13px;
}

.app9 {
	top: 26px;
	left: 26px;
}

div.main {
	clear: both;
	text-align: center;
}

input.search {
	display: block;
	width: 300px;
	height: 40px;
	margin: 0 auto;
	border: 1px solid #CCC;
	-webkit-box-shadow: 0px 2px 2px 0px #CCC;
	        box-shadow: 0px 2px 2px 0px #CCC;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
}

div.logo {
	position: relative;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 4em;
}

.logo span {
	padding: 0;
}

.red {
	color: #D00;
}

.blue {
	color: #00D;
}

.green {
	color: #0D0;
}

.yellow {
	color: #DD0;
}

.country {
	color: #08F;
	font-size: .4em;
	position: absolute;
	bottom: 2px;
	right: 40%;
}